<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque similique suscipit eaque nisi, repellat dolorum officiis, ab vitae, corporis eveniet? Eaque labore reiciendis voluptatum deleniti deserunt mollitia quo sequi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque similique suscipit eaque nisi, repellat dolorum officiis, ab vitae, corporis eveniet? Eaque labore reiciendis voluptatum deleniti deserunt mollitia quo sequi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste neque similique suscipit eaque nisi, repellat dolorum officiis, ab vitae, corporis eveniet? Eaque labore reiciendis voluptatum deleniti deserunt mollitia quo sequi.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>